.result-box {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 20px;

}


.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rock {
    font-size: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.scissors {
    font-size: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.paper {
    font-size: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}